@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;900&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@500;700&display=swap');

/* navbat 樣式*/
.navbar{
    background: rgb(3, 10, 10);
    display: flex;
    grid-area: nav;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10%;
    width:auto;
}
.navbar .width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
    background: rgb(3, 10, 10);
    }
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: all 0.5s ease;
}
.navbar .menu li a:hover{
    color: #fff;
}
.navbar .logo a span{
    color: #fff;
    transition: all 0.3s ease;
}

.navbar .menu li ul{
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
.navbar .menu li:hover > ul{
    top: 50px;
    opacity: 1;
    visibility: visible;
}
.navbar .menu li ul li{
    position: relative;
    margin: 0px;
    width: 100px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(#fff);
}
.lastli{
    
    border-radius: 0 0 25% 25%;
}
.navbar .menu li ul li a{
color: #fff;
font-size: 15px;
font-weight: 500;
margin-left: 25px;
transition: all 0.5s ease;
}